body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgba(241, 245, 24, 0.25);
}
.wrapper {
  width: 90%;
  display: table;
  margin: 0 auto;
  padding: 15px;
}
