$font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";
$bg: #FFF088;

/*************
  General
*************/
body {
  background-color: $bg;
}

/*************
  Toolbar
*************/
#toolbar {
  display: table;
  margin: 0 auto;

  #make-bold {
    font-weight: 700;
  }

  #emphasize {
    font-style: italic;
  }

  #under-line {
    text-decoration: underline;
  }

  #strike-through {
    text-decoration: line-through;
  }
}

/*************
  Main
*************/
#markdown-text {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.6;
  padding: 0 .75em;
  outline: none;
  //white-space: pre-wrap;

  &::selection {
    color: #3C2923;
    background: rgba(139, 195, 74, 0.5);
  }

}

/*************
  Bottom bar
*************/
#bottom-bar {
  position: fixed;
  bottom: 0;
  background: black;
  height: 20px;
}
