$font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$bg: #FFF088;

/*************
  General
*************/


body {
  background-color: $bg;
  font-family: $font-family;

  &:hover {
    cursor: default;
  }
}

/*************
  Toolbar
*************/

#toolbar {
  display: block;
  width: 100%;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  padding: 12px;
  background: rgba(74, 195, 184, 0.62);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.125);
  z-index: 9999999;

  #make-bold {
    font-weight: 700;
  }

  #emphasize {
    font-style: italic;
  }

  #under-line {
    text-decoration: underline;
  }

  #strike-through {
    text-decoration: line-through;
  }
}

/*************
  Main
*************/

#markdown-text {

  position: relative;
  top: 60px;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.6;
  padding: 0 .75em;
  outline: none;
  cursor: text;

  h1, h2 {
    border-bottom: 1px solid #2F2D2D;
  }

  a:hover {
    cursor: pointer;
  }

  &::selection {
    color: #3C2923;
    background: rgba(139, 195, 74, 0.5);
  }

  hr {
    background-color: #000;
  }

}

.selected {
  border: 5px solid #ECDB5F;
  border-radius: 5px;
  padding: 0 4px 2px 4px;
  transition: .5s ease all;
  background: rgb(255, 247, 192);
}
