body {
    background-color: #FDFEC7;
    margin: 0;
}

#toolbar {
    margin: 0 10px;
}

#toolbar button {
    margin: 2px 4px 0px -9px;
    width: 26px;
    height: 26px;
    padding: 5px;
}

#make-bold {
    font-weight: 700;
}

#under-line {

}

textarea {
    background-color: #FCFDC6;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
    border: 0;
    width: 90%;
    height: 500px;
    display: table;
    margin: 15px auto;
    outline: none;
}

textarea::selection {
    color: #3C2923;
    background: rgba(139, 195, 74, 0.25);
}